body {
    background: #d6eaf8;
  }
  .gradient-button {
    width: 300px;
    text-decoration: none;
    padding: 20px 30px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; 
    background-size: 200% auto;
    font-family: Impact , sans-serif;
    font-size: 20px;
    background-color: rgb(218, 214, 214);
  }
  .gradient-button:hover{
    background-color: rgb(194, 193, 193);
  }
  .gradient-button:focus {
    background-color: rgb(155, 151, 151);
  }